<ion-header>
  <ion-navbar color="primary">
    <ion-row>
      <ion-col col-1>
        <div  (click)="dismiss()" class="topArrow">
          <ion-icon name="arrow-back"></ion-icon>
        </div>
      </ion-col>
      <ion-col col-11>
          <ion-input style="color:white" class="out-line-none" clearInput type="text" (keyup)="updateList($event)" placeholder="Enter Location" autofocus></ion-input>
      </ion-col>
   </ion-row>
  </ion-navbar>
</ion-header>
<ion-content class="bg-white">
  <ion-list inset>
      <div *ngFor="let loc of locations">
          <ion-item *ngIf="loc.Location!==null" class="bg-white"  (click)="slected(loc)">
              {{loc.Location}}
          </ion-item>
      </div>
  </ion-list>
</ion-content>