.ios, .md{
    page-profile-basic-details {
       
            ion-item{
                background: white;
                padding: 0px !important;
                
            }
            .col-secondary{
                color: map-get($colors, secondary);
            }
            .invalidMessage{
                     color: #DC1f26;
                     
                 }
            ion-fab{
                float:right;
            }
           .dob{
            .input-cover{
                display: none;
              }
           }
        }
        .bottombtn{
            background: color($colors, primary);
            color:white;
            border-top: 1px solid #000;
            padding: 14px;
            text-align: center;
            font-weight: bold;
          } 
}

