<ion-header>
  <ion-navbar color="primary">
     <ion-title>Payment Details <span class="font-size-1">Seller</span></ion-title>
     <ion-buttons end>
        <button ion-button icon-only (click)="dismiss()">
          <ion-icon  name="close"></ion-icon>
        </button>
        </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="beforeSuccess">
      <form [formGroup]="PaymentForm">
          <ion-card class="margin-top-0">
            <ion-card-content>
             <ion-item [hidden]="userFullNamef">
                <ion-label color="primary" floating>Enter Your Full Name
                 
                </ion-label>
                <ion-input formControlName='userFullName' clearInput></ion-input>
              </ion-item>
              <ion-row class="invalidMessage" *ngIf="!PaymentForm.controls.userFullName.valid && (PaymentForm.controls.userFullName.dirty || paymentSubmit)">
                <ion-col col-12>
                  Please Enter Your Full Name
                </ion-col>
              </ion-row>
      
              <ion-item [hidden]="companyFullNamef">
                <ion-label color="primary" floating>Enter Your Company Name
                  
                </ion-label>
                <ion-input formControlName='userCompanyName' clearInput></ion-input>
              </ion-item>
              <ion-row class="invalidMessage" *ngIf="!PaymentForm.controls.userCompanyName.valid && (PaymentForm.controls.userCompanyName.dirty || paymentSubmit)">
                <ion-col col-12>
                  Enter Your Company Name.
                </ion-col>
              </ion-row>
      
              
      
      
              <!-- <ion-item>
                    <ion-label color="primary" floating>Select Your State *</ion-label>
                    <ion-select  [(ngModal)]="userState" (ionChange)="stateChanged($event)">
                      <ion-option *ngFor="let option of options" [value]="option.stateId">
                        {{ option.stateName }}
                      </ion-option>
                    </ion-select>
                  </ion-item> -->
      
      
      
              <ion-item>
                <ion-label color="primary" floating>Enter GST Number </ion-label>
                <ion-input formControlName='userGSTNumber' type="text" clearInput (keyup)="gstValidator()"></ion-input>
              </ion-item>
              <ion-row class="invalidMessage" *ngIf="!PaymentForm.controls.userGSTNumber.valid && (PaymentForm.controls.userGSTNumber.dirty || paymentSubmit)">
                <ion-col col-12>
                  <span *ngIf="stateError">Please enter valid GST Number for selected state.</span>
                  <span *ngIf="!stateError">GST Identification Number is not valid. It should be in this "11AAAAA1111Z1A1" format.</span>
                </ion-col>
              </ion-row>

              
              <ion-item>
                  <ion-label color="primary" floating [class.invalid]="!PaymentForm.controls.userState.valid && (PaymentForm.controls.userState.dirty || paymentSubmit)">Select State
                  </ion-label>
                  <ion-input formControlName="userState" clearInput [ngModel]="userState" readonly (click)="stateSelect()"></ion-input>
                </ion-item>
                <ion-input type="hidden" formControlName="userStateNo" [ngModel]="userStateNo"></ion-input>
        
                <ion-row class="invalidMessage" *ngIf="!PaymentForm.controls.userState.valid && (PaymentForm.controls.userState.dirty || paymentSubmit)">
                  <ion-col col-12>
                    Select Your State.
                  </ion-col>
                </ion-row>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-row>
                <ion-col col-6>
                  <strong>Lead Amount :</strong>
                </ion-col>
                <ion-col col-6>
                  <fa-icon name='inr'></fa-icon> {{data.Buy_Amount | number: '1.2-2'}}
                </ion-col>
              </ion-row>
      
               <ion-row *ngIf="userStateStatus == ''">
                  <ion-col col4>
                    <strong>GST (18%) :</strong>
                  </ion-col>
                  <ion-col col-6>
                    <fa-icon name='inr'></fa-icon> {{GST | number: '1.2-2'}}
                  </ion-col>
                </ion-row>
      
              <ion-row *ngIf="isMaharashtra && userStateStatus != ''">
                <ion-col col4>
                  <strong>SGST (9%) :</strong>
                </ion-col>
                <ion-col col-6>
                  <fa-icon name='inr'></fa-icon> {{sGST | number: '1.2-2'}}
                </ion-col>
              </ion-row>
      
              <ion-row *ngIf="isMaharashtra && userStateStatus != ''">
                <ion-col col-6>
                  <strong>CGST (9%) : </strong>
                </ion-col>
                <ion-col col-6>
                  <fa-icon name='inr'></fa-icon> {{cGST | number: '1.2-2'}}
                </ion-col>
              </ion-row>
      
              <ion-row *ngIf="!isMaharashtra && userStateStatus != ''">
                <ion-col col-6>
                  <strong>IGST (18%) : </strong>
                </ion-col>
                <ion-col col-6>
                  <fa-icon name='inr'></fa-icon> {{iGST | number: '1.2-2'}}
                </ion-col>
              </ion-row>
      
      
      
              <ion-row>
                <ion-col col-6>
                  <strong>Total Amount : </strong>
                </ion-col>
                <ion-col col-6>
                  <fa-icon name='inr'></fa-icon> {{totalPackageAmount | number: '1.2-2'}}
                </ion-col>
              </ion-row>
              <br />
              <ion-row>
                <ion-col>
                  By clicking on proceed to secure payment, I agree to the packages
                  <u class="col-link" (click)="openTerms()">Terms & Conditions.</u>
                </ion-col>
              </ion-row>
      
      
      
              <ion-row>
                <ion-col>
                  <button ion-button block (click)="onSubmitForm()">Proceed to secure payment</button>
                </ion-col>
              </ion-row>
      
            </ion-card-content>
          </ion-card>
        </form>
      
  </div>
  <div *ngIf="afterSuccess">
      <div *ngIf="paymentDissplayMessage.state == 'success'" style="padding:5px">
          <br>
          <p style="font-weight:bold;color:green;text-align:justify;color:red">
            <strong>Transaction Success!</strong>
          </p>
          <hr>
          <p style='text-align:justify;'>Thank you for payment of INR {{paymentDissplayMessage.netAmmount}}
            <br/>
            <br/> Your Transaction Id :{{paymentDissplayMessage.txnId}}
            <br/>
            <br/> Please find Buyer details below:</p>
          <hr/>
          <p style='text-align:justify;margin:5px;'>
            <strong>Company Name : </strong> {{paymentDissplayMessage.buyerComName}}</p>
          <hr/>
          <p style='text-align:justify;margin:5px;'>
            <strong>Name : </strong> {{paymentDissplayMessage.buyerName}}</p>
          <hr/>
          <p style='text-align:justify;margin:5px;'>
            <strong>Email Id : </strong> {{paymentDissplayMessage.buyerEmailAddr}}</p>
          <hr/>
          <p style='text-align:justify;margin:5px;'>
            <strong>Mobile No : </strong> {{paymentDissplayMessage.phoneno}}</p>
          <hr/>
          <p style='text-align:justify;margin:5px;'>
            <strong>Product Name : </strong> {{paymentDissplayMessage.productName}}</p>
          <hr/>
          <p style='text-align:justify;margin:5px;'>
            <strong>Quantity : </strong> {{paymentDissplayMessage.orderQuantity}}</p>
          <hr/>
          <p style='text-align:justify;margin:5px;'>
            <strong>Delivery Location : </strong>{{paymentDissplayMessage.location}}</p>
          <hr/>
          <p style='text-align:justify;margin:5px;'>
            <strong>End Response Date : </strong>{{paymentDissplayMessage.endResponseDate}}</p>
          <hr/>
        </div>
  
        <div *ngIf="paymentDissplayMessage.state == 'fail'">
          <br>
          <p style="font-weight:bold;color:green;text-align:justify;color:red">
            <strong>Transaction Failed!</strong>
          </p>
          <hr>
          <p style="text-align:justify;">Your payment has not been processed.
            <br>Here are the details of this transaction for your reference.</p>
          <hr>
          <p style="text-align:justify;">
            <strong>Transaction Id : </strong> {{paymentDissplayMessage.txnId}}</p>
          <hr>
          <p style="text-align:justify;">
            <strong>Amount Paid : </strong> INR 0.00</p>
          <hr>
          <p style="text-align:justify;">
            <strong>Lead For : </strong> {{paymentDissplayMessage.Lead_Name}}</p>
          <hr>
          <p style="text-align:justify;">
            <strong>Transaction Status : </strong> Failed </p>
          <hr>
          <p style="text-align:justify;">
            <strong>Error Message : </strong>
            <span style="color:red">No Error</span>
          </p>
          <hr>
          <p style="text-align:justify;">Your payment was unsuccessful, please try again.
            <br>Thank you for using Constrobazaar.</p>
        </div><br />
        <button ion-button icon-start (click)="goBack()">
          <ion-icon name="arrow-back" ></ion-icon>
         back
        </button>
        
        <button ion-button icon-end (click)="goPusrchaseLeads()">
          Purchased Leads
          <ion-icon name="arrow-round-forward"></ion-icon>
        </button>
  </div>
 

</ion-content>