.ios, .md {
page-current-leads {
    ion-card{
        background: white;
        text-align: justify;
        ion-item{
            background: white;
            padding: 0px !important;
        }
     }
    }
}    
        