<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Buy Leads <span class="font-size-1">Seller</span></ion-title>
    <ion-buttons end>
        <button id="notification-button" ion-button clear (click)="openNotification('NotificationPage')">
            <ion-icon name="notifications" style="font-size: 1.8em">
              <ion-badge id="notifications-badge" color="danger" *ngIf="note.notificationCounterForAll != 0">{{note.notificationCounterForAll}}</ion-badge>
            </ion-icon>              
        </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card [ngClass]="{'margin-top-0':i === 0}" *ngFor="let data of myLeads;let i=index;">
    <ion-card-content>
      <ion-row>
        <ion-col class="font-size-1-8 padding-0">
          <strong>{{toHTML(data.Generic_Product_Name)}}</strong>
          <br />
          <span class="font-size-1-5" style="color:red">{{toHTML(data.Variant_Name)}}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="padding-0">
          <span class="col-faint">Order Qty : </span> {{data.Quantity}} {{data.Unit_of_Quantity}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="padding-0">
          <span class="col-faint">Location : </span> {{data.Location_Name}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="padding-0">
          <span class="col-faint">End Response Date : </span> {{data.Lasting_Date}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="font-size-1-8 padding-0">
          <ion-item class="padding-top-0 padding-bottom-0 padding-right-0">
            <fa-icon name="inr"></fa-icon>
            <span class="font-size-2">
              <strong> {{data.Buy_Amount}} </strong>
            </span>
            <span class="col-faint">{{data.GST_Amount}}</span>
          </ion-item>
        </ion-col>
        <ion-col class="text-right">
          <button ion-button (click)="purchase(data)">Buy Now</button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <div style="height:6%">
    <div *ngIf="noMoreResult" class="text-center padding-top-10">No More Result Found</div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="!noMoreResult">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>