.ios, .md {
        page-purchased-leads {
        ion-card{
            background: white;
            text-align: justify;
            ion-item{
                background: white;
                padding: 0px !important;
            }
         }
    }
}

