
.ios, .md{
    page-post-your-req-location {
      .topArrow{
        font-size: 2.5rem;
        color:white;
        padding-top:5px;
      }  
      .toprightArrow{
        font-size: 1.6rem;
        color:white;
        padding-top:15px;
      }  
      ion-item{
        padding: 5px !important;
        margin-top:2px !important;
      }
      .list{
                margin: 5px !important;

      }
      .lable{
        margin: 0px !important;
      }
    }
}


