.ios, .md{
    page-get-quote {
      .header{

        .topArrow{
        font-size: 2.5rem;
        color:white;
        padding-top:5px;
      }  
      .toprightArrow{
        font-size: 1.6rem;
        color:white;
        padding-top:15px;
      }  
      .toolbar-title{
        padding: 7px 12px !important;
      }
     
      .lable{
        margin: 0px !important;
      }
    }
      ion-card{
        background: white;
        //text-align: justify;
        ion-item{
            background: white;
            padding: 0px !important;
        }
               
        
    }
    .col-primary{
      color: map-get($colors, primary);
  }
  .col-secondary{
      color: map-get($colors, secondary);
  }
  .invalidMessage{
    color: #DC1f26;
    
}
.unit{
 .input-cover{
  display: none;
}
}
.file_upload
{
    padding: 15px 0px 15px 0px;
    color: map-get($colors, primary);
    margin: 10px;
} 
.invalid {
    color: #DC1f26;
 }
 .invalidMessage{
     color: #DC1f26;   
     padding: 2px 5px 5px 5px;
 }
 .borderAlli{
    line-height: 2em;
    div{
        padding:10px 0px 10px 0px;
    }
   ion-icon{
       float:right;
   }
 }
 .borderAll{
    border: 1px solid  map-get($colors, primary);
    padding: 15px;
    text-align: center;
 }
 .div{padding: 5px}
    }
}


