<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Subscription</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card class="margin-top-0">
    <ion-card-content>
      <ion-row>
        <ion-col col-12>
          <strong>
            <h2><Strong>My Current Package & its Features</Strong></h2>
          </strong>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card class="margin-top-0">
    <ion-card-content>
      <ion-row>
        <ion-col col-4 class="col-title-head">
          Package Name :
        </ion-col>
        <ion-col col-8 class="text-right">
          {{subscriptionDetails.Package_Name}}
          <u style="color:blue" (click)="openPackage()"> Upgrade / Renew</u>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 class="col-title-head">
          Subscription Date :
        </ion-col>
        <ion-col col-6 class="text-right">
          {{subscriptionDetails.Order_Date}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 class="col-title-head">
          Subscription Expires On :
        </ion-col>
        <ion-col col-6 class="text-right">
          {{subscriptionDetails.Expiry_Date}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4 class="col-title-head">
          Transaction ID :
        </ion-col>
        <ion-col col-8 class="text-right">
          {{subscriptionDetails.Transaction_Id}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 class="col-title-head">
          Package Amount :
        </ion-col>
        <ion-col col-6 class="text-right">
          <fa-icon name="inr"></fa-icon>{{subscriptionDetails.Package_Amount}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 class="col-title-head">
          Discount :
        </ion-col>
        <ion-col col-6 class="text-right">
          <fa-icon name="inr"></fa-icon> {{subscriptionDetails.Discount_Amount | number: '1.2-2'}} </ion-col>
      </ion-row>
      <ion-row *ngIf="subscriptionDetails.State_Code=='27'">
        <ion-col col-6 class="col-title-head">
          SGST(+9%) :
        </ion-col>
        <ion-col col-6 class="text-right">
          <fa-icon name="inr"></fa-icon> {{subscriptionDetails.SGST | number: '1.2-2'}}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="subscriptionDetails.State_Code=='27'">
        <ion-col col-6 class="col-title-head">
          CGST(+9%) :
        </ion-col>
        <ion-col col-6 class="text-right">
          <fa-icon name="inr"></fa-icon> {{subscriptionDetails.CGST | number: '1.2-2'}}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="subscriptionDetails.State_Code!='27'">
        <ion-col col-6 class="col-title-head">
          IGST(+18%) :
        </ion-col>
        <ion-col col-6 class="text-right">
          <fa-icon name="inr"></fa-icon> {{subscriptionDetails.IGST | number: '1.2-2'}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 class="col-title-head">
          Total Amount :
        </ion-col>
        <ion-col col-6 class="text-right">
          <fa-icon name="inr"></fa-icon> {{subscriptionDetails.Order_Total_Amount | number: '1.2-2'}}
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card class="margin-top-0">
    <ion-card-content>
      <ion-row>
        <ion-col col-7>
          <strong>Feature Name</strong>
        </ion-col>
        <ion-col col-5>
          <strong>Feature Description</strong>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let fe of subscriptionFeatures">
        <ion-col col-7 class="col-title-head">
          {{fe.featureName}} :
        </ion-col>
        <ion-col col-5 class="text-left">
          {{fe.featureDesc}}
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>