.ios, .md{
    page-change-password {
        ion-content{
            
                   
                        background: white;
                        ion-col{
                            padding: 0px 0px 0px 0px !important;
                        }
                        ion-item{
                            background: white;
                            padding: 0px !important;
                        }
                        .bold{
                            font-weight: bolder;
                            color:map-get($colors, primary );
                            padding-top: 15px !important;
                            padding-bottom: 15px !important;
                            border-bottom: 2px solid map-get($colors, primary);
                        }
                        .normal{
                            color:#969696;
                            font-weight: normal;
                            padding-top: 15px !important;
                            padding-bottom: 15px !important;
                        }
                       
                        .invalid {
                            color: #DC1f26;
                        }
                        .invalidMessage{
                            color: #DC1f26;
                            
                        }
                }
    }
    
}
