
.ios, .md {
    .changeToast{
        .toast-wrapper 
            {
                border-radius: 5px !important; 
                white-space: pre-line;
                background: red;
            }
    };
    page-buy-package {
        

        ion-card{
            background: white;
            text-align: justify;
            ion-item{
                background: white;
                padding: 0px !important;
            }
            .col-primary{
                color: map-get($colors, primary);
            }
            .col-secondary{
                color: map-get($colors, secondary);
            }
            
            .item-md.item-block .item-inner {
                border-bottom: 1px solid #dedede !important;
              }
              .invalidMessage{
                color: #DC1f26;
                
            }
           
            .input-cover{
                display: none;
            }
            ion-row{
                margin-top:3px;
                padding: 0px;
                ion-col{
                    padding: 0px !important;
                }
             }
        }
        
    }
   
    }